<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simpzan.android.notes.evernote">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name="com.evernote.client.android.EvernoteOAuthActivity" android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>
